
.footerContainer{
    background-color: #4481eb;
    width: 100%;
    padding: 10px 0;
    position: sticky;
}
.kfc h1{
    color: #fff;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.social-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
.icons{
    display: flex;
    gap: 10px;
}

.icon{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.below-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
}
.media-icons{
    display: flex;
    background-color: red;
}
.foot-left,.foot-middle,.foot-middle-right,.app-links{
    display: flex;
    flex-direction: column;
    gap: 13px;
  
}
.foot-left a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.foot-middle a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.foot-middle-right a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.end{
    
    display: flex;
    justify-content: space-around;
    gap: 300px;
    margin-top: 60px;
}
.end-left{
    color: #fff;
    font-family: 'Roboto',sans-serif;
}
.end-right h2{
    color: #ea002a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.end-right a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 3px;
    color: #fff;
    text-decoration: underline;
}




