.heading{
    margin-left: 100px;
  }
  .titleH1{
    color: #333333;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  .div-design{
    width: 200px;
    height: 6px;
    background-color: #4481eb;
    border-radius: 10px;
  }
  .categoryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax value as needed */
    padding: 20px;
    margin-left: 50px;
  }
  
 
  
  
  
  